$l-header__height: 50px !default;
$l-header__margin: ($co-margin / 2) !default;

.l-header {
  height: $l-header__height;
  margin-bottom: $l-header__margin;

  &__wrapper {
    position: fixed;
    z-index: 1000;

    width: 100%;
    min-height: $l-header__height;

    background: $co-color__fg__back;
  }

  &__brand {
    padding: 0 $co-margin;
    line-height: $l-header__height;
  }
  &__menu-icon {
    margin-right: ($co-margin / 2);

    background: transparent;
    border: 0;
  }
  &__brand-icon {
    height: $co-font__line-height;
  }

  &__m-menu {
    @include m-menu--break;
    line-height: $l-header__height;
  }

  &__search-field {
    width: $co-form__width--medium;
  }

  @include breakpoint(medium) {
    &__brand { float: left; }
    &__m-menu { @include m-menu--inline; }
    &__user { float: right; }
  }
}
