$co-threads-contacts-icon-radius: 40px;
$co-threads-contacts-icon-zIndex: 20;
$co-threads-contacts-icon-circle-zIndex: 20;
$co-threads-contacts-icon-letter-padding-size: 2px;
$contacts-avatar-size: 70px;

.contact-icon {
  position: relative;
  width: $co-threads-contacts-icon-radius;
  height: $co-threads-contacts-icon-radius;
  line-height: $co-threads-contacts-icon-radius;
  background-color: $caliopen-color-3;

  .circle {
    position: absolute;
    top: $co-threads-contacts-icon-radius * -0.25;
    left: $co-threads-contacts-icon-radius *-0.25;
    height: $co-threads-contacts-icon-radius * 1.5;
    width: $co-threads-contacts-icon-radius * 1.5;
    border: $co-threads-contacts-icon-radius * 0.25 solid $caliopen-color-2;
    border-radius: 50%;
    background-color: transparent;
    z-index: $co-threads-contacts-icon-circle-zIndex;
  }

  .circle-inner {
    color: $caliopen-color-1;
    margin: 0;
    padding: 0;
    z-index: $co-threads-contacts-icon-zIndex;
  }
}
  .contact-icon__letter::before {
    display: block;
    float: left;
    font-style: italic;
  }
  .contact-icon__letter--1::before {
    height: $co-threads-contacts-icon-radius;
    line-height: $co-threads-contacts-icon-radius;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $co-threads-contacts-icon-radius;
  }
  .contact-icon__letter--2::before {
    font-size: $co-threads-contacts-icon-radius * 0.25;
    height: $co-threads-contacts-icon-radius;
    line-height: $co-threads-contacts-icon-radius;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $co-threads-contacts-icon-radius * 0.5 - $co-threads-contacts-icon-letter-padding-size * 0.5;
  }
  .contact-icon__letter--2:first-child::before {
    margin-right: $co-threads-contacts-icon-letter-padding-size;
  }
  .contact-icon__letter--3::before {
    font-size: $co-threads-contacts-icon-radius * 0.25;
    height: $co-threads-contacts-icon-radius * 0.5;
    line-height: $co-threads-contacts-icon-radius * 0.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $co-threads-contacts-icon-radius * 0.5 - $co-threads-contacts-icon-letter-padding-size * 0.5;
  }
  .contact-icon__letter--3:first-child::before {
    margin: 0 $co-threads-contacts-icon-letter-padding-size $co-threads-contacts-icon-letter-padding-size 0;
  }
  .contact-icon__letter--3:nth-child(2)::before {
    margin-bottom: $co-threads-contacts-icon-letter-padding-size;
  }
  .contact-icon__letter--4::before {
    font-size: $co-threads-contacts-icon-radius * 0.25;
    height: $co-threads-contacts-icon-radius * 0.5;
    line-height: $co-threads-contacts-icon-radius * 0.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $co-threads-contacts-icon-radius * 0.5 - $co-threads-contacts-icon-letter-padding-size * 0.5;
  }
  .contact-icon__letter--4:first-child::before {
    margin: 0 $co-threads-contacts-icon-letter-padding-size $co-threads-contacts-icon-letter-padding-size 0;
  }
  .contact-icon__letter--4:nth-child(3)::before {
    margin-right: $co-threads-contacts-icon-letter-padding-size;
  }

.contact-avatar {
  border-radius: 2px;
  position: relative;
  width: $contacts-avatar-size;
  height: $contacts-avatar-size;
  line-height: $contacts-avatar-size;
  background-color: $caliopen-color-3;
}

.contact-avatar__letter::before {
  border-radius: 2px;
  color: $caliopen-color-1;
  font-size: $contacts-avatar-size * 0.75;
  font-style: normal;
  height: $contacts-avatar-size;
  line-height: $contacts-avatar-size;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $contacts-avatar-size;
}
