.co-text-field {
    @extend .form-control;

    background-color: $co-color__fg__back--low;
    border: 1px solid $co-color__fg__border;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25) inset;
    color: $co-color__fg__text--low;

    &:focus {
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25) inset;
        border-color: $co-color__fg__border--high;
        color: $co-color__fg__text;
    }
}
