$co-margin: 1.5rem;
$co-radius: .125rem;

$co-font__size: 1rem;
$co-font__line-height: 1.4rem;

$co-form__width: (
  small:  10rem,  // 160 px
  medium: 13rem,  // 208 px
  large:  16rem   // 256 px
);

$co-form__height: (
  small:  1.5rem,   // 24 px
  medium: 2.25rem,  // 36 px
  large:  3rem      // 48 px
);
