{
  "extends": "airbnb/base",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "protractor": true
  },
  "rules": {
    "newline-before-return": "error"
  },
  "globals": {
    "angular": true,
    "inject": true
  }
}
