language: node_js

node_js:
  - '4'
  - 'stable'

sudo: false

addons:
  firefox: latest

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

git:
  depth: 10

script:
  - npm run test-unit
  - npm run lint
  - npm run check-deps
  - npm run build
  - npm run test-functional
