.caliopen-messages__message {
  border-bottom: 1px solid $body-bg;
  min-height: 60px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.caliopen-messages__message--summary {
  transition: color .3s ease-out;
}

.caliopen-messages__message--summary:hover {
  color: $co-color__fg__text--high;
  cursor: pointer;
}

.caliopen-messages__message__subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caliopen-messages__message__message-body {
  overflow: hidden;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
