// caliopen defaults
$caliopen-color-1: #ffffff;
$caliopen-color-2: #333333;
$caliopen-color-3: #294f5c;
$caliopen-color-4: #3386a2;
$caliopen-color-5: #97b707;

// bootstrap configuration

$gray-base:     $caliopen-color-1;
$gray-lighter:  darken($gray-base, 13.5%);
$gray-light:    darken($gray-base, 20%);
$gray:          darken($gray-base, 33.5%);
$gray-dark:     darken($gray-base, 46.7%);
$gray-darker:   darken($gray-base, 93.5%);

// layout
$body-bg: #1d1d1d;

// navbar
$navbar-inverse-bg: $caliopen-color-2;

// dropdown
$dropdown-bg: #333333;
$dropdown-link-color: $gray-lighter;
$dropdown-link-disabled-color: $gray-darker;
$dropdown-link-hover-color: lighten($gray-lighter, 5%);
$dropdown-divider-bg: $caliopen-color-2;
// components
$component-active-color: $gray-light;

// badges
$badge-bg: $gray-darker;
