// theme
@import "base/base";
@import "base/colors";
@import "base/bootstrap";

// vendors
@import "bootstrap";
@import "font-awesome";
@import "angular-pseudo-class";

// vendors extentions
@import "bootstrap-extention/grid";

// pages
@import "pages/caliopen-layout";
@import "pages/cor-login";
@import "pages/caliopen-threads";
@import "pages/caliopen-messages";
@import "pages/caliopen-contacts";

// components
@import "components/avatar";
@import "components/avatars";
@import "components/letters";
@import "components/list";
@import "components/slider";

// utilities
@import "utils/text"
