// base
@import "base/base";
@import "base/fonts";
@import "base/theme/dark";

// vendors
@import "extension/bootstrap/custom";
@import "vendor/bootstrap";
@import "extension/bootstrap/grid";
@import "extension/bootstrap/scaffolding";

@import "extension/foundation/config";
@import "vendor/foundation";

@import "vendor/font-awesome";

// injected
@import "co-icons";

// components
@import "component/list";
@import "component/text-list";

@import "component/avatar";
@import "component/avatars";
@import "component/letters";
@import "component/loading-icon";
@import "component/text-field";
@import "component/search-field";
@import "component/slider";
@import "component/tag";

@import "component/text";

// application
@import "layout/header";
@import "layout/topbar";
@import "layout/body";
@import "layout/sliders";
@import "layout/tabs";

@import "page/cor-login";
@import "page/threads";
@import "page/messages";
@import "page/contacts";
@import "page/contact";
