// --- Config ---
@import 'config/config';
@import 'config/theme/dark';


// --- Dependencies ---
// vendors
@import 'vendor/foundation-sites/config';
@import 'vendor/foundation-sites/flex-grid';
@import 'vendor/foundation-sites';

@import 'font-awesome/scss/font-awesome';

// injected
@import 'co-icons';


// --- Base ---
// global rules
@import 'base/fonts';
@import 'base/reset';


// --- Components ---
// utils
@import 'util/u-gradient';

// modules
@import 'module/m-menu';

@import 'module/m-avatar';
@import 'module/m-avatars';
@import 'module/m-badge';
@import 'module/m-block-list';
@import 'module/m-contact-card';
@import 'module/m-dropdown';
@import 'module/m-flash-message';
@import 'module/m-letter';
@import 'module/m-loading';
@import 'module/m-panel';
@import 'module/m-search-field';
@import 'module/m-slider';
@import 'module/m-subtitle';
@import 'module/m-tab';
@import 'module/m-tag';
@import 'module/m-text-line';
@import 'module/m-text-list';
@import 'module/m-text-word';
@import 'module/m-text-field';

// layout
@import 'layout/l-header';
@import 'layout/l-topbar';
@import 'layout/l-body';
@import 'layout/l-flash-message-list';

// sections
@import 'section/s-login';

@import 'section/s-contact';
@import 'section/s-contact-list';
@import 'section/s-message';
@import 'section/s-thread';
@import 'section/s-thread-list';
