// --- Config ---
@import 'config/config';
@import 'config/theme/dark';


// --- Dependencies ---
// vendors
@import 'vendor/foundation-sites/config';
@import 'vendor/foundation-sites/flex-grid';
@import 'vendor/foundation-sites';

@import 'font-awesome/scss/font-awesome';

// injected
@import 'co-icons';


// --- Base ---
// global rules
@import 'base/fonts';
@import 'base/reset';


// --- Components ---
// utils
@import 'util/u-gradient';

// objects
@import 'object/o-form-element';
@import 'object/o-hr-text';

// modules
@import 'module/m-link';
@import 'module/m-menu';

@import 'module/m-action-bar';
@import 'module/m-application-switcher';
@import 'module/m-avatar';
@import 'module/m-avatars';
@import 'module/m-badge';
@import 'module/m-block-list';
@import 'module/m-call-to-action';
@import 'module/m-remote-identity';
@import 'module/m-recipient-list';
@import 'module/m-recipient';
@import 'module/m-contact-card';
@import 'module/m-dropdown';
@import 'module/m-field-errors';
@import 'module/m-fieldset';
@import 'module/m-flash-message';
@import 'module/m-horizontal-scroll';
@import 'module/m-letter';
@import 'module/m-loading';
@import 'module/m-navbar';
@import 'module/m-panel';
@import 'module/m-pi-progress';
@import 'module/m-postal-address';
@import 'module/m-radio-field-group';
@import 'module/m-search-field';
@import 'module/m-slider';
@import 'module/m-subtitle';
@import 'module/m-switch';
@import 'module/m-tab';
@import 'module/m-tag';
@import 'module/m-text-line';
@import 'module/m-text-list';
@import 'module/m-text-word';
@import 'module/m-text-field';
@import 'module/m-text';
@import 'module/m-ui-select';

// layout
@import 'layout/l-header';
@import 'layout/l-body';
@import 'layout/l-call-to-action';
@import 'layout/l-flash-message-list';
@import 'layout/l-nav-alt';
@import 'layout/l-navbar';

// sections
@import 'section/s-login';

@import 'section/s-account';
@import 'section/s-contact-detail-form';
@import 'section/s-contact';
@import 'section/s-discussion-draft';
@import 'section/s-contact-list';
@import 'section/s-message';
@import 'section/s-thread';
@import 'section/s-thread-list';
