.s-login {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -150px;

  &__form {
    display: block;
    max-width: 300px;
    margin: auto;
  }

  &__form-label {
    display: block;
    width: 100%;
  }

  &__form-input {
    display: block;
    width: 100%;
  }

  &__submit-zone {
    text-align: center;
  }
}
