.co-contact {
  background-color: $co-color__fg__back--low;

  &__datas-irl {
    padding: 0 $co-margin $co-margin $co-margin;
    background-color: $co-color__fg__back;

    &__header {
      text-align: center;
      word-break: break-word;

      margin-bottom: $co-margin;
    }

    &__name {
      color: $co-color__fg__text--high;
      font-size: 1.5rem;
    }

    .co-avatar {
      @extend .co-avatar--xlarge;
    }
  }

  &__datas-online {
    padding: $co-margin;
  }

  &__sub-title {
    margin-top: 0;

    color: $co-color__fg__text--lower;
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: $screen-xs-max) {
  .co-contact__datas-irl {
    &__header {
      text-align: left;
    }

    &__avatar {
      @include co-avatar--size('', $co-avatar__size--large);

      float: left;
      margin-right: $co-margin;
    }
  }
}
