$co-avatar__size--small: 2rem;
$co-avatar__size--medium: 3rem;
$co-avatar__size--large: 4rem;
$co-avatar__size--xlarge: 6rem;

@mixin co-avatar--size($modifier, $size) {
  .co-avatar#{$modifier} {
    width: $size;
    height: $size;
  }

  .co-avatar#{$modifier} .co-avatar__letter::before {
    line-height: $size;
    font-size: $size * 0.75;
  }
}

.co-avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  background-color: $co-color__fg__back;
  border-radius: 2px;
  overflow: hidden;

  &__letter::before {
    display: block;

    color: #ffffff;
    text-align: center;
  }
}

// default
@include co-avatar--size('', $co-avatar__size--medium);

// modifiers
@include co-avatar--size(--small, $co-avatar__size--small);
@include co-avatar--size(--medium, $co-avatar__size--medium);
@include co-avatar--size(--large, $co-avatar__size--large);
@include co-avatar--size(--xlarge, $co-avatar__size--xlarge);
