@keyframes co-loading-icon__spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.co-loading {
  padding: ($co-margin / 2);

  color: $co-color__fg__text--higher;
  font-size: 1rem;
  text-align: center;

  &__icon, &-icon {
    @extend .co-icon;
    @extend .co-icon-loading;

    display: inline-block;
    font-size: 1rem;

    animation: co-loading-icon__spin .5s infinite linear;
  }
}
