$m-badge__height: 1.5rem !default;

.m-badge {
  display: inline-block;
  height: $m-badge__height;
  padding: 0 ($m-badge__height / 4);

  border: 1px solid $co-color__fg__border--lower;
  border-radius: ($m-badge__height / 2);
  background: $co-color__fg__back--low;

  color: $co-color__fg__text--low;
  font-size: ($m-badge__height / 2);
  line-height: $m-badge__height;
  white-space: nowrap;
}
