@mixin m-contact-card--horizontal {
  &__m-avatar_ {
    .m-avatar {
      float: left;
      margin-right: $co-margin;
    }
  }
}

@mixin m-contact-card--vertical {
  &__m-avatar_ {
    .m-avatar {
      float: none;
      margin-right: 0;
    }
  }
}

.m-contact-card {
  &__title {
    display: block;
    color: $co-color__fg__text--high;
  }

  @include m-contact-card--horizontal;

  &--horizontal { @include m-contact-card--horizontal; }
  &--vertical  { @include m-contact-card--vertical; }
}

@mixin m-contact-main--horizontal {
  &__avatar {
    float: left;
    margin-right: $co-margin;
  }
}
@mixin m-contact-main--vertical {
  &__avatar {
    float: none;
    margin-right: 0;
  }
}

.m-contact-main {
  &__title {
    display: block;
    color: $co-color__fg__text--high;
  }

  @include m-contact-main--horizontal;
}
