@mixin _m-flash-message--type($color) {
  border-color: darken($color, 35%);
  background-color: darken($color, 40%);
}

.m-flash-message {
  @include o-callout;
  width: 16rem;

  &__button {
    float: right;
  }
}
