// @deprecated: use "m-link m-link--button" instead
$m-inline-button__color: $co-color__fg__text--lower;
$m-inline-button__color--hover: scale-color($co-color__primary, $lightness: -50%);
$m-inline-button__border-size: 1px;

.m-inline-button {
  @include disable-mouse-outline;
  display: inline-block;
  vertical-align: middle;
  transition: background-color .25s ease-out, color .25s ease-out;
  border: $m-inline-button__border-size solid transparent;
  color: $m-inline-button__color;
  font-size: map-get($button-sizes, default);
  line-height: $co-font__line-height;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    color: $m-inline-button__color--hover;
  }

  @each $name, $color in $caliopen-palette {
    &--#{$name} {
      $color-hover: scale-color($color, $lightness: -50%);
      color: $color;

      &:hover,
      &:focus {
        color: $color-hover;
      }
    }
  }
}
