.m-letter--none::before {
  background-color: SteelBlue;
  content: ".";
}
.m-letter--plus::before {
  background-color: DarkCyan;
  content: "+";
}
.m-letter--a::before {
  background-color: CornflowerBlue;
  content: "A";
}
.m-letter--b::before {
  background-color: SlateGray;
  content: "B";
}
.m-letter--c::before {
  background-color: Peru;
  content: "C";
}
.m-letter--d::before {
  background-color: Tomato;
  content: "D";
}
.m-letter--e::before {
  background-color: FireBrick;
  content: "E";
}
.m-letter--f::before {
  background-color: ForestGreen;
  content: "F";
}
.m-letter--g::before {
  background-color: DarkOrchid;
  content: "G";
}
.m-letter--h::before {
  background-color: DarkSlateBlue;
  content: "H";
}
.m-letter--i::before {
  background-color: PaleVioletRed;
  content: "I";
}
.m-letter--j::before {
  background-color: MediumOrchid;
  content: "J";
}
.m-letter--k::before {
  background-color: DarkOliveGreen;
  content: "K";
}
.m-letter--l::before {
  background-color: LightSkyBlue;
  content: "L";
}
.m-letter--m::before {
  background-color: DarkKhaki;
  content: "M";
}
.m-letter--n::before {
  background-color: OliveDrab;
  content: "N";
}
.m-letter--o::before {
  background-color: MediumPurple;
  content: "O";
}
.m-letter--p::before {
  background-color: CadetBlue;
  content: "P";
}
.m-letter--q::before {
  background-color: SaddleBrown;
  content: "Q";
}
.m-letter--r::before {
  background-color: MidnightBlue;
  content: "R";
}
.m-letter--s::before {
  background-color: Teal;
  content: "S";
}
.m-letter--t::before {
  background-color: Turquoise;
  content: "T";
}
.m-letter--u::before {
  background-color: OrangeRed;
  content: "U";
}
.m-letter--v::before {
  background-color: SeaGreen;
  content: "V";
}
.m-letter--w::before {
  background-color: Olive;
  content: "W";
}
.m-letter--x::before {
  background-color: DarkMagenta;
  content: "X";
}
.m-letter--y::before {
  background-color: Indigo;
  content: "Y";
}
.m-letter--z::before {
  background-color: Chocolate;
  content: "Z";
}
