@mixin m-link {
  color: $co-color__fg__text--low;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $co-color__primary;
    color: $co-color__fg__text--high;
  }

  &:active {
    background-color: $co-color__primary--lower;
    color: $co-color__fg__text--high;
  }

  &.is-active {
    background-color: $co-color__primary--low;
    color: $co-color__fg__text;
    cursor: default;
  }
}

@mixin m-link--button {
  display: block;
  padding: 0 1rem;
  line-height: inherit;
}

.m-link {
  @include m-link;

  &--button {
    @include m-link--button;
  }
}
