@mixin m-menu--inline {
  &__item {
    display: table-cell;
    width: auto;
  }
  &__item-content {
    display: inline-block;
    width: auto;
  }
  &__separator {
    display: table-cell;
    margin: 0 ($co-margin / 4);
    width: 1px;
    height: auto;
  }
}
@mixin m-menu--break {
  &__item,
  &__item-content {
    display: block;
    width: 100%
  }
  &__separator {
    display: block;
    margin: ($co-margin / 4) 0;
    width: auto;
    height: 1px;
  }
}

@mixin m-menu--height($height) {
  @if (map-has-key($co-form__height, $height)) {
    $height: map-get($co-form__height, $height);
  }

  &__item {
    min-height: $height;
  }
  &__item-content {
    line-height: $height;
  }
}

.m-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    line-height: inherit;
    white-space: nowrap;
  }
  &__item-content {
    padding: 0 1rem;
    line-height: inherit;
  }
  &__separator {
    background-color: $co-color__fg__border;
  }

  // default
  @include m-menu--inline;
  @include m-menu--height(medium);

  // modifiers
  &--inline { @include m-menu--inline;  }
  &--break  { @include m-menu--break;   }

  &--small  { @include m-menu--height(small);   }
  &--medium { @include m-menu--height(medium);  }
  &--large  { @include m-menu--height(large);   }
}

a.m-menu__item-content,
.m-menu__item-content--link {
  cursor: pointer;
  color: $co-color__fg__text--low;
  text-decoration: none;

  &:hover {
    background-color: $co-color__primary;
    color: $co-color__fg__text--high;
  }

  &:active {
    background-color: $co-color__primary--lower;
    color: $co-color__fg__text--high;
  }

  &.is-active {
    cursor: default;
    background-color: $co-color__primary--low;
    color: $co-color__fg__text;
  }
}
