@mixin m-menu--vertical {
  &__item {
    float: left;
  }

  &__separator {
    float: left;
    width: 1px;
    height: auto;
    margin: 0 ($co-margin / 4);
  }
}

@mixin m-menu--horizontal {
  &__item {
    float: none;
  }

  &__separator {
    float: none;
    width: auto;
    height: 1px;
    margin: ($co-margin / 4) 0;
  }
}

@mixin m-menu--height($height) {
  @if (map-has-key($co-form__height, $height)) {
    $height: map-get($co-form__height, $height);
  }

  &__item { min-height: $height; }
  &__item-content { line-height: $height; }
}

.m-menu {
  @include clearfix;

  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
    white-space: nowrap;
  }

  &__item-content {
    display: block;
    padding: 0 1rem;
    line-height: inherit;

    &--link {
      color: $co-color__fg__text--low;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: $co-color__primary;
        color: $co-color__fg__text--high;
      }

      &:active {
        background-color: $co-color__primary--lower;
        color: $co-color__fg__text--high;
      }

      &.is-active {
        background-color: $co-color__primary--low;
        color: $co-color__fg__text;
        cursor: default;
      }
    }
  }

  &__separator {
    background-color: $co-color__fg__border;
  }

  @include m-menu--vertical;
  @include m-menu--height(medium);

  &--vertical   { @include m-menu--vertical; }
  &--horizontal { @include m-menu--horizontal; }

  &--small  { @include m-menu--height(small); }
  &--medium { @include m-menu--height(medium); }
  &--large  { @include m-menu--height(large); }
}
