.m-panel {
  @include callout-base;
  @include callout-style($color: $co-color__contrast__back);
  padding: 0;

  &__header {
    padding: 0 1rem;
    border-bottom: 1px solid $co-color__contrast__border;
    background-color: $co-color__contrast__back--lower;
    overflow: auto;
  }

  &__content {
    padding: 1rem;
  }
}
