$m-slider-width: 10px;
$m-strip-size: 2px;

@mixin m-slider($color) {
  &__range {
    background: linear-gradient(
      to top,
      darken($color, 30),
      lighten($color, 1)
    );
    box-shadow: none;
  }

  &__full-bar {
    // 8px is correct on both firefox/chrome :(
    @include u-gradient-striped($color: darken($color, 20), $size: 8px);
  }
}

.m-slider {
  position: relative;

  &,
  &__full-bar,
  &__tick-list {
    width: $m-slider-width;
    height: 100%;
  }

  &__full-bar,
  &__tick-list {
    position: absolute;
  }

  &__full-bar {
    border-radius: $m-slider-width;
  }

  &__range {
    position: absolute;
    bottom: 0;
    width: $m-slider-width;
    border-radius: $m-slider-width;
  }

  &__tick-list {
    display: flex;
    list-style-type: none;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__tick {
    vertical-align: middle;
    height: 1px;
    background-color: $co-color__fg__back;
  }

  &__handle {
    display: inline-block;
    position: absolute;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 0 20px 20px;
    outline: none;
    background-color: $co-color__fg__text--high;

    &--top {
      margin-bottom: -15px;
      transform: rotateZ(-135deg);
    }

    &--bottom {
      margin-bottom: -5px;
      transform: rotateZ(45deg);
    }
  }

  &__label {
    display: none;
  }

  &--privacy {
    @include m-slider($co-color__privacy);
  }

  &--importance {
    @include m-slider($co-color__importance);
  }
}
