@mixin m-slider($color, $direction) {
  $m-slider-width: 10px;
  $m-strip-size: 2px;

  .ui-slider-vertical,
  .ui-slider-vertical .ui-slider-range {
    width: $m-slider-width;
  }

  .ui-slider-horizontal,
  .ui-slider-horizontal .ui-slider-range {
    height: $m-slider-width;
  }

  .ui-slider-range {
    border-radius: $m-slider-width;

    background:
      linear-gradient(
        to $direction,
        darken($color, 30),
        lighten($color, 1)
      );
  }

  .ui-widget-content {
    @include u-gradient-striped(darken($color, 20));

    border-radius: $m-slider-width;
    background-size: 3px 3px;
  }

  .ui-slider-range {
    background: none;
    background-image: linear-gradient(
      to $direction,
      darken($color, 30),
      lighten($color, 1)
    );
    box-shadow: none;
  }
}

.ui-slider {
  position: relative;
}

.ui-slider-range {
  position: absolute;
}

.ui-slider-horizontal {
  .ui-slider-handle {
    top: -5px;
  }
}

.ui-slider-vertical {
  height: 100%;
  .ui-slider-handle {
    left: -5px;
  }
}

.ui-slider-handle {
  border-radius: 0 20px 20px 20px;
  background-color: white;
  display: inline-block;
  height: 20px;
  outline: none;
  position: absolute;
  width: 20px;
}

.ui-slider-vertical .ui-slider-handle:first-of-type {
  margin-bottom: -20px;
  transform: rotateZ(45deg);
}
.ui-slider-vertical .ui-slider-handle:last-of-type {
  margin-bottom: -5px;
  transform: rotateZ(-135deg);
}
.ui-slider-horizontal .ui-slider-handle:first-of-type {
  margin-left: -15px;
  transform: rotateZ(135deg);
}
.ui-slider-horizontal .ui-slider-handle:last-of-type {
  transform: rotateZ(-45deg);
}
