.m-tabs {
  @include clearfix;

  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    float: left;
  }

  &__item__content {
    display: block;
    max-width: 12rem;
    margin-right: .25rem;
    padding: 0 1rem;

    border-bottom: .25rem solid $co-color__bg__back;
    background-color: $co-color__fg__back;

    overflow: hidden;
    text-overflow: ellipsis;
    color: $co-color__fg__text--low;
    text-decoration: none;
    white-space: nowrap;

    &:hover   { color: $co-color__fg__text--high; }
    &:active  { color: $co-color__fg__text--lower; }

    &.is-active {
      border-bottom-color: transparent;
      color: $co-color__fg__text--higher;
      cursor: default;
    }
  }

  &__item__btn {
    padding: 0 .5rem;
  }
}

// --- Shame ---
// Because we must have a delete button, which is *visually* inside the
// tab item, *outside* it but in the DOM to not trigger the clic event.
//
// This situation can (and SHOULD) be resolved with angular-pseudo-class.
//
// Below: the better fix I found without this package.

.m-tabs {
  &__item {
    position: relative;
  }

  &__item__content {
    &--with-btn { // Alias --please-let-some-space-for-a-button-outside-you

      padding-right: 2rem;
      // Got with a dice. All buttons have the same size, aren't they ?
    }
  }

  &__item__btn { // Alias chuck-norris-btn

    position: absolute;
    top: 0;
    right: .25rem;
    // Because f*ck the world, I place me by myself
  }
}
