.m-text-field {
  display: inline-block;
  padding: ($co-margin / 3) ($co-margin / 2);

  border: 1px solid $co-color__fg__border;
  border-radius: 3px;
  background-color: $co-color__fg__back--low;
  box-shadow: $co-shadow inset;
  color: $co-color__fg__text--low;

  &:focus {
    border-color: $co-color__fg__border--high;
    box-shadow: $co-shadow inset;
    color: $co-color__fg__text;
  }
}
