@mixin m-text-field--dark {
  border-color: $co-color__fg__border;
  background-color: $co-color__fg__back--low;
  color: $co-color__fg__text--low;

  &:focus {
    border-color: $co-color__fg__border--high;
    background-color: $co-color__fg__back;
    color: $co-color__fg__text;
  }
}

@mixin m-text-field--light {
  border-color: $co-color__contrast__border;
  background-color: $co-color__contrast__back--low;
  color: $co-color__contrast__text--low;

  &:focus {
    border-color: $co-color__contrast__border--low;
    background-color: $co-color__contrast__back--high;
    color: $co-color__contrast__text;
  }
}

.m-text-field {
  display: inline-block;
  padding: ($co-margin / 3) ($co-margin / 2);

  border: 1px solid;
  border-radius: 3px;
  box-shadow: $co-shadow inset;

  &:focus {
    box-shadow: $co-shadow inset;
  }

  &,
  &--dark   { @include m-text-field--dark; }
  &--light  { @include m-text-field--light; }
}
