.co-text-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;

  &__item {
    color: $co-color__fg__text--low;
    font-size: 1rem;

    &__icon {
      margin-right: .25em;
    }
  }

  a.co-text-list__item,
  .co-text-list__item--link {
    cursor: pointer;

    &:hover {
      color: $co-color__fg__text--high;
    }
    &:active {
      color: $co-color__fg__text--lower;
    }
  }
}
