// bright colors
$co-color__primary:           #1395ba;
$co-color__primary--low:      darken($co-color__primary, 10%);
$co-color__primary--high:     lighten($co-color__primary, 10%);

$co-color__secondary:         #13ba95;
$co-color__secondary--low:    darken($co-color__secondary, 10%);
$co-color__secondary--high:   lighten($co-color__secondary, 10%);

// foreground
$co-color__fg__back:          #333333;
$co-color__fg__back--low:     darken($co-color__fg__back, 2.5%);
$co-color__fg__back--high:    lighten($co-color__fg__back, 5%);

$co-color__fg__border:        #424242;
$co-color__fg__border--low:   darken($co-color__fg__border, 10%);
$co-color__fg__border--high:  lighten($co-color__fg__border, 10%);

$co-color__fg__text:          #e8e8e8;
$co-color__fg__text--lower:   darken($co-color__fg__text, 30%);
$co-color__fg__text--low:     darken($co-color__fg__text, 15%);
$co-color__fg__text--high:    lighten($co-color__fg__text, 10%);
$co-color__fg__text--higher:  lighten($co-color__fg__text, 20%);

// background
$co-color__bg__back:          #1d1d1d;
$co-color__bg__back--low:     darken($co-color__bg__back, 2.5%);
$co-color__bg__back--high:    lighten($co-color__bg__back, 5%);

$co-color__bg__border:        #ffffff;
$co-color__bg__border--low:   darken($co-color__bg__border, 10%);
$co-color__bg__border--high:  lighten($co-color__bg__border, 10%);

$co-color__bg__text:          #ffffff;
$co-color__bg__text--lower:   darken($co-color__bg__text, 30%);
$co-color__bg__text--low:     darken($co-color__bg__text, 15%);
$co-color__bg__text--high:    lighten($co-color__bg__text, 10%);
$co-color__bg__text--higher:  lighten($co-color__bg__text, 20%);


// basic palette
$caliopen-color-1: #ffffff;
$caliopen-color-2: #333333;
$caliopen-color-3: #294f5c;
$caliopen-color-4: #3386a2;
$caliopen-color-5: #97b707;

$importance-color: #d2bc00;
$privacy-color: $caliopen-color-5;
